<div class="inicio">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light navBar">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->



                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#inicio">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#nosotros">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#servicios">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/privacidad">Política de privacidad</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    <div class="bannerDivInicio">

    </div>
    <div class="greenCard bg-success" id="nosotros">
        <div class="container text-white">
            <div class="row">
                <div class=" text-center">
                    <h1>Construyendo tus grandes sueños.</h1>
                    <h3>Nuestra especialidad es la construcción y remodelación.</h3>
                </div>

            </div>
        </div>
    </div>
    <div data-draggable="true" style="position: relative;" class="excavarDiv">
        <!---->
        <!---->
        <section draggable="false" class="overflow-hidden pt-0" data-v-271253ee="">
            <section class="mb-10 position-relative text-center text-lg-start">
                <!-- SVG Background --> <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 1440 320" preserveAspectRatio="none" class="svg position-absolute d-none d-lg-block"
                    style="height: 560px; width: 100%; z-index: 0; overflow: hidden">
                    <defs>
                        <linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0">
                            <stop stop-color="hsl(217, 102%, 99%)" offset="0%"></stop>
                            <stop stop-color="hsl(217,88%, 93%)" offset="100%"></stop>
                        </linearGradient>
                    </defs>
                    <path fill="url(#sw-gradient-0)"
                        d="M 0.351 264.418 C 0.351 264.418 33.396 268.165 47.112 270.128 C 265.033 301.319 477.487 325.608 614.827 237.124 C 713.575 173.504 692.613 144.116 805.776 87.876 C 942.649 19.853 1317.845 20.149 1440.003 23.965 C 1466.069 24.779 1440.135 24.024 1440.135 24.024 L 1440 0 L 1360 0 C 1280 0 1120 0 960 0 C 800 0 640 0 480 0 C 320 0 160 0 80 0 L 0 0 L 0.351 264.418 Z">
                    </path>
                </svg> <!-- Content -->
                <div class="px-4 py-5 px-md-5">
                    <div class="container">
                        <div class="row gx-lg-5 align-items-center">
                            <div class="col-lg-6 mb-5 mb-lg-0 py-5" style="z-index: 1">
                                <h1 class="my-5  fw-bold ls-tight text-center text-black"> <span>Una constructora 100%
                                        mexicana</span> </h1>
                                <hr>

                                <h5 class="text-center">

                                    <ul class="list-group list-group-small bg-transparent">
                                        <li class="list-group-item bg-transparent"><i
                                                class="fa-solid fa-user-group"></i> Servicios de alta calidad y atención
                                            personalizada.</li>
                                        <li class="list-group-item bg-transparent"><i
                                                class="fa-solid fa-person-digging"></i> Mano de obra calificada para
                                            construir cualquier tipo de edificación.</li>
                                        <li class="list-group-item bg-transparent"><i
                                                class="fa-solid fa-trowel-bricks"></i> Amplia gama de materiales como
                                            cemento, tabiques, grava, granito, mármol, concreto, vidrio y más.</li>

                                    </ul>
                                </h5>

                            </div>
                            <div class="col-lg-6 mb-5 mb-lg-0 videoDiv" style="z-index: 1">
                                <div class="ratio ratio-16x9"> <iframe width="560" height="315"
                                        src="https://www.youtube.com/embed/SzFK6tjkA1Q" title="YouTube video player"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!---->
    </div>
    <div class="orangeCard ">
        <div class="container text-white">
            <div class="row">
                <div class=" text-center">
                    <h1>Comprometidos con nuestros colaboradores</h1>
                    <h3>Siempre de la mano de nuestros principios</h3>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div data-draggable="true" style="position: relative;">
            <!---->
            <!---->
            <section draggable="false" class="container pt-5" data-v-271253ee="">
                <section class="mb-10">
                   
                    <div class="row gx-lg-5 mb-5 align-items-center">
                        <div class="col-md-6 mb-4 mb-md-0"> <img src="/assets/images/mision.jpg"
                                class="w-100 shadow-4-strong rounded-4 mb-4" alt="" aria-controls="#picker-editor">
                        </div>
                        <div class="col-md-6 mb-4 mb-md-0">
                            <h3 class="fw-bold">Misión</h3>
                            <hr>
                            <div class="mb-2 text-danger small"> </div>
                            <p class="text-muted">Brindar un servicio de calidad, con precios accesibles en todas las
                                etapas de la construcción utilizando material de alta calidad. Ser una constructora
                                líder a nivel nacional.</p>
                            <a class="btn  btn-primary" href="#contacto" role="button"
                                aria-controls="#picker-editor">Cotizar</a>
                        </div>
                    </div>
                    <div class="row gx-lg-5 mb-5 flex-lg-row-reverse align-items-center">
                        <div class="col-md-6 mb-4 mb-md-0"> <img src="/assets/images/valores.jpg"
                                class="w-100 shadow-4-strong rounded-4 mb-4" alt="" aria-controls="#picker-editor">
                        </div>
                        <div class="col-md-6 mb-4 mb-md-0">
                            <h3 class="fw-bold">Valores</h3>
                            <hr>
                            <div class="mb-2 text-primary small"></div>
                            <p class="text-muted">
                            <div class="row">
                                <div class="col-4">
                                    <div class="list-group list-group-light" id="list-tab" role="tablist">
                                        <a class="list-group-item list-group-item-action active px-3 border-0"
                                            id="list-home-list" data-mdb-toggle="list" href="#list-home" role="tab"
                                            aria-controls="list-home">Disciplina</a>
                                        <a class="list-group-item list-group-item-action px-3 border-0"
                                            id="list-profile-list" data-mdb-toggle="list" href="#list-profile"
                                            role="tab" aria-controls="list-profile">Lealtad</a>
                                        <a class="list-group-item list-group-item-action px-3 border-0"
                                            id="list-messages-list" data-mdb-toggle="list" href="#list-messages"
                                            role="tab" aria-controls="list-messages">Compromiso</a>

                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="tab-content" id="nav-tabContent">
                                        <div class="tab-pane fade show active" id="list-home" role="tabpanel"
                                            aria-labelledby="list-home-list">
                                            Lograr consistentemente los objetivos establecidos en cada proyecto.
                                        </div>
                                        <div class="tab-pane fade" id="list-profile" role="tabpanel"
                                            aria-labelledby="list-profile-list">
                                            Para nosotros nuestros clientes es lo más importante, es por eso que cumplir
                                            con los objetivos acordados en los tiempos establecidos es nuestra
                                            prioridad.
                                        </div>
                                        <div class="tab-pane fade" id="list-messages" role="tabpanel"
                                            aria-labelledby="list-messages-list">
                                            Damos seguimientos a las metas personales de los trabajadores con las metas
                                            de la empresa.
                                        </div>

                                    </div>
                                </div>
                            </div>
                            </p>
                        </div>
                    </div>

                </section>
            </section>
            <!---->
        </div>
    </div>
    <div class="blueIshCard ">
        <div class="container text-white">
            <div class="row">
                <div class=" text-center">
                    <h1>Nos adaptamos a cualquier tipo de suelo</h1>
                    <h3>Entregamos calidad sin importar las condiciones</h3>
                </div>

            </div>
        </div>
    </div>
    <div class="container tierraDiv">
        <div class="row">
            <div class="col-md-3">
                <img src="/assets/images/areonoso.jpg" class="img-fluid shadow-2-strong pointer" alt="Palm Springs Road"
                    onclick="location.href='#servicios';" />
            </div>
            <div class="col-md-3">
                <img src="/assets/images/fino.jpg" class="img-fluid shadow-2-strong pointer" alt="Palm Springs Road"
                    onclick="location.href='#servicios';" />
            </div>
            <div class="col-md-3">
                <img src="/assets/images/humedo.jpg" class="img-fluid shadow-2-strong pointer" alt="Palm Springs Road"
                    onclick="location.href='#servicios';" />
            </div>
            <div class="col-md-3">
                <img src="/assets/images/rocoso.jpg" class="img-fluid shadow-2-strong pointer" alt="Palm Springs Road"
                    onclick="location.href='#servicios';" />
            </div>
        </div>
    </div>
    <div class="orangeIshCard " id="servicios">
        <div class="container text-white">
            <div class="row">
                <div class=" text-center">
                    <h1>Nuestros diseños son vanguardistas</h1>
                    <h3>Para nosotros lo más importante es que los espacios sean funcionales y cubran las necesidades y
                        expectativas de nuestros clientes</h3>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h1 class="card-title"><i class="fa-solid fa-house-chimney-user textGreenIsh"></i></h1>
                        <p class="card-text ">Construcción de espacios habitacionales</p> <br>
                        <button type="button" class="btn btn-dark" onclick="location.href='#contacto';">Saber
                            más...</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h1 class="card-title"><i class="fa-solid fa-industry textGreenIsh"></i></h1>
                        <p class="card-text ">Obras industriales y comerciales</p> <br>
                        <button type="button" class="btn btn-dark" onclick="location.href='#contacto';">Saber
                            más...</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h1 class="card-title"><i class="fa-solid fa-bridge textGreenIsh"></i></h1>
                        <p class="card-text ">Construcción de puentes vehiculares de concreto hidráulico y acero</p>
                        <button type="button" class="btn btn-dark" onclick="location.href='#contacto';">Saber
                            más...</button>
                    </div>
                </div>
            </div>
        </div> <br>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h1 class="card-title"><i class="fa-solid fa-road textGreenIsh"></i></h1>
                        <p class="card-text ">Pavimentación y urbanización de vialidades</p> <br>
                        <button type="button" class="btn btn-dark" onclick="location.href='#contacto';">Saber
                            más...</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h1 class="card-title"><i class="fa-solid fa-car-on textGreenIsh"></i></h1>
                        <p class="card-text ">Construcción de vías de comunicación (caminos y carreteras)</p>
                        <button type="button" class="btn btn-dark" onclick="location.href='#contacto';">Saber
                            más...</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h1 class="card-title"><i class="fa-solid fa-paint-roller textGreenIsh"></i></h1>
                        <p class="card-text ">Remodelación de cualquier tipo de construcción</p>
                        <button type="button" class="btn btn-dark" onclick="location.href='#contacto';">Saber
                            más...</button>
                    </div>
                </div>
            </div>
        </div> <br>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h1 class="card-title"><i class="fa-solid fa-sheet-plastic  textGreenIsh"></i></h1>
                        <p class="card-text ">Mantenimiento preventivo, correctivo y predictivo</p> <br>
                        <button type="button" class="btn btn-dark" onclick="location.href='#contacto';">Saber
                            más...</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h1 class="card-title"><i class="fa-solid fa-trowel textGreenIsh"></i></h1>
                        <p class="card-text ">Trabajos de albañilería y acabados en general</p> <br>
                        <button type="button" class="btn btn-dark" onclick="location.href='#contacto';">Saber
                            más...</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h1 class="card-title"><i class="fa-solid fa-bolt  textGreenIsh"></i></h1>
                        <p class="card-text ">Servicios de mantenimiento mecánico, eléctrico y de instalaciones por
                            proyecto o por evento</p>
                        <button type="button" class="btn btn-dark" onclick="location.href='#contacto';">Saber
                            más...</button>
                    </div>
                </div>
            </div>
        </div>
    </div> <br>
    <div data-draggable="true" style="position: relative;" class="antesDeContactoDiv">
        <!---->
        <!---->
        <section draggable="false" class="container pt-5" data-v-271253ee="">
            <section class="mb-10">
                <div class="d-flex justify-content-center">
                    <div class="text-center" style="max-width: 700px">

                        <h2 class="fw-bold mb-4">Otros servicios</h2>
                        <p class="text-muted mb-5">Con nuestro equipo de profesionales en la construcción, estamos
                            comprometidos a ofrecer una amplia gama de proyectos a la medida con los más altos
                            estándares de calidad.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-5">
                        <div class="d-flex align-items-start">
                            <div class="flex-shrink-0">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <p class="fw-bold mb-1 text-center">Diseño y estudio</p>
                                <hr>
                                <p class="text-muted mb-0 text-center">Contamos con un equipo de arquitectos para
                                    diseñar tu
                                    proyecto a la medida realizando los estudios preliminares para reconocer el terreno
                                    y el impacto ambiental de la zona.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-5">
                        <div class="d-flex align-items-start">
                            <div class="flex-shrink-0">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <p class="fw-bold mb-1 text-center">Tramites y Servicios</p>
                                <hr>
                                <p class="text-muted mb-0 text-center">Llevamos a cabo todo el proceso de gestoría para
                                    obtener los
                                    permisos y realizar los tramites necesarios para ejecutar cualquier tipo de
                                    construcción.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-5">
                        <div class="d-flex align-items-start">
                            <div class="flex-shrink-0">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <p class="fw-bold mb-1 text-center">Créditos</p>
                                <hr>
                                <p class="text-muted mb-0 text-center">ofrecemos diversos esquemas de pago en el
                                    contrato y nos
                                    comprometemos a entregar una construcción completamente terminada y en estado de
                                    funcionamiento.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </section>
        <!---->
    </div>
    <div id="contacto" class="contactoDiv">
        <div data-draggable="true" style="position: relative;">
            <!---->
            <!---->
            <section draggable="false" class="container pt-5" data-v-271253ee="">
                <section class="mb-10 text-center">
                    <style>
                        hr.divider-vertical {
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 1px;
                            background-image: linear-gradient(180deg, transparent, hsl(0, 0%, 40%), transparent);
                            background-color: transparent;
                            height: 100%;
                        }
                    </style>
                    <div class="card mx-4 mx-md-5 shadow-5-strong"
                        style=" margin-top: -100px; background: hsla(0, 0%, 100%, 0.8); backdrop-filter: blur(30px); ">

                        <div class="card-body py-5 px-md-5">
                            <div class="row text-center">
                                <h3>CONTACTA <br> A NUESTRO EQUIPO</h3> <br> <br> <br>
                            </div>
                            <div class="row mb-5 redeSocialesDiv2">
                                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 position-relative">
                                    <!-- Facebook -->
                                    {{!-- <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;"
                                        href="#!" role="button"><i class="fab fa-facebook-f"></i></a> --}}
                                    <hr class="divider-vertical d-none d-lg-block">
                                </div>
                                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 position-relative">
                                   <p><i class="fa-solid fa-square-phone iconLogo topMargin18 bottomMargin18"></i> 55823994884</p>
                                   <hr class="divider-vertical d-none d-lg-block">
                                </div>
                                
                                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 position-relative">
                                    <p><i class="fas fa-envelope iconLogo bottomMargin18"></i> servicios@mantente100.com</p>
                                    <hr class="divider-vertical d-none d-lg-block">
                                </div>
                                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 position-relative">
                                    <!-- Linkedin -->
                                    {{!-- <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca;"
                                        href="#!" role="button"><i class="fab fa-linkedin-in"></i></a> --}}
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center topMargin18">
                                <div class="col-lg-6">
                                    <form action="/ajax/email" method="POST" onsubmit="return submitEmailForm(this);">
                                        <!-- Name input -->
                                        <div class="form-outline mb-4"> <input type="text" id="form4Example1"
                                                class="form-control formInput" name="name" required> <label
                                                class="form-label" for="form4Example1"
                                                style="margin-left: 0px;">Nombre</label>
                                            <div class="form-notch">
                                                <div class="form-notch-leading" style="width: 9px;"></div>
                                                <div class="form-notch-middle" style="width: 42.4px;"></div>
                                                <div class="form-notch-trailing"></div>
                                            </div>
                                        </div> <!-- Email input -->
                                        <div class="form-outline mb-4"> <input type="email" id="form4Example2"
                                                class="form-control formInput" name="email" required>
                                            <label class="form-label" for="form4Example2"
                                                style="margin-left: 0px;">Correo electrónico</label>
                                            <div class="form-notch">
                                                <div class="form-notch-leading" style="width: 9px;"></div>
                                                <div class="form-notch-middle" style="width: 88.8px;"></div>
                                                <div class="form-notch-trailing"></div>
                                            </div>
                                        </div> <!-- Message input -->
                                        <div class="form-outline mb-4"> <textarea class="form-control formInput"
                                                id="form4Example3" rows="4" name="message" required></textarea> <label
                                                class="form-label" for="form4Example3"
                                                style="margin-left: 0px;">Servicio de interés</label>
                                            <div class="form-notch">
                                                <div class="form-notch-leading" style="width: 9px;"></div>
                                                <div class="form-notch-middle" style="width: 60px;"></div>
                                                <div class="form-notch-trailing"></div>
                                            </div>
                                        </div>
                                        <!-- Checkbox -->
                                        <div class="form-check d-flex justify-content-center mb-4">
                                            <input class="form-check-input me-2 formInput" type="checkbox" value=""
                                                id="form2Example33" required />
                                            <label class="form-check-label" for="form2Example33">
                                                Acepto política de privacidad
                                            </label>
                                        </div>
                                        <!-- Submit button -->
                                        <button type="submit" class="btn  btn-dark btn-block"
                                            aria-controls="#picker-editor">Enviar</button>
                                    </form>
                                     <img src="/assets/images/logoMantenteColor.png" class="img-fluid logoFluid" alt="Logo Color" />
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
            <!---->
        </div>
    </div>
</div>